<div  class="main">
    <div>
      <h3>Login</h3>
    </div>
    <form #login="ngForm" class="example-form">
        
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="inf@gmail.com" name="email" ngModel>
        </mat-form-field>
      
      
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter Password" type="password" name="password" ngModel>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit" (click)="LogIn(login.value)">sign in</button>
      </form>
    </div>
  
    
<!-- 
    <div *ngIf="profile" class="main pro col-sm-6">
        <div class="row">
          <div class="col-sm-6 text-center">
            <h1>Profile</h1>
          </div>
          <div class="text-primary logout col-sm-6">
            <span (click)="logout()">logout</span>
          </div>
        </div>

            <div class="col-12" >
            <div>
                Name : {{oneItem['name'] ? oneItem['name'] : '...'}} 
            </div>
            <div>
                Email : {{oneItem['email'] ? oneItem['email'] : '...'}}
            </div>
            <div>
                Mobile : {{oneItem['mobile'] ? oneItem['mobile'] : '...'}}
            </div>
            </div>
        </div>
         -->