.logout:hover {
  cursor: pointer;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.main {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.profile {
  color: #000;
  margin-top: 30px;
  min-width: 83vh;
}
.cs {
  background-color: #241b25;
  padding: 24px;
  box-shadow: 8px 7px;
}
