    <div class="text-right mt-2 mr-2">
     <h3>  Time :- {{date | date:'shortTime'}}</h3>
    </div>
    
    <div class="col-sm-8 offset-sm-2">
    
      <div>
        <h2>WELCOME</h2>
      </div>
      <hr>
   
     
    </div>
  
    <!-- <div class="mt-4 cs main col-sm-6">
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore soluta illum ea voluptates libero distinctio, delectus dignissimos officiis velit beatae natus aperiam, fugiat sapiente deserunt incidunt reiciendis, consectetur debitis illo?</p>
    </div>

    <div class=" main cs col-sm-6">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore soluta illum ea voluptates libero distinctio, delectus dignissimos officiis velit beatae natus aperiam, fugiat sapiente deserunt incidunt reiciendis, consectetur debitis illo?</p>
     </div>
     <div class="main cs col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptatem, quisquam asperiores aperiam ipsam et. Deserunt, ea sit fuga illo quasi, architecto nesciunt repellendus quos voluptatem, sint dolores! Rerum, atque.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro repellat maxime reiciendis hic voluptatum exercitationem! Voluptates, officia harum nostrum veritatis expedita, at maiores beatae excepturi quibusdam, quaerat obcaecati fugit quasi.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore ex quo dolor earum voluptatem, minima quod rerum veritatis vitae laborum id recusandae suscipit ratione consectetur ea praesentium delectus, repellendus quos.
      </p>
     </div>
      -->