<style>
  .main{
      text-align: center;
      margin-top: 30px;
      font-size: 3em;
  }
</style>
<div class="main">
  <p>Todo App</p>

</div>

<div class="example-form" style="padding: 50px;">
 
    <mat-form-field class="example-full-width">
      <mat-label>Todo Title</mat-label>
      <input #todoTitle matInput placeholder="Enter title" value="{{title}}">
    </mat-form-field>
  <br>
    <mat-form-field class="example-full-width">
      <mat-label>Todo Description</mat-label>
      <textarea #todoDesc matInput placeholder="Enter description" value="{{desc}}"></textarea>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" *ngIf="addBtn" (click)="addTodo(todoTitle.value, todoDesc.value)" type="submit">Add</button>

    <button mat-raised-button color="accent" *ngIf="updateBtn" (click)="updateTodo(true, todoTitle.value, todoDesc.value)" type="submit">Update</button>

  </div>





  <div class="table_section">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef>Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.todoTitle}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Desc">
          <th mat-header-cell *matHeaderCellDef> Desc </th>
          <td mat-cell *matCellDef="let element"> {{element.todoDesc}} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef style="align-items: center;"> Action </th>
            <td mat-cell *matCellDef="let element">    
                 <button mat-raised-button color="primary" (click)="deleteTodo(element.id)">Delete</button>
                
        

               <button mat-raised-button color="accent" (click)="EditTodo(false, '', '', element.id)">Edit</button>
            </td>
          </ng-container>
      
       
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      


  </div>
  