.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.main {
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}
table {
  width: 100%;
}

.table_section {
  padding: 50px;
}
.logout {
  cursor: pointer;
}
hr {
  border-top: 1px solid #fff;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.pro {
  border: 1px solid #fff;
}
